<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.edu.tlu.cse.englishquiz">

    <!-- Thêm quyền truy cập Internet để kết nối với Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Quyền truy cập trạng thái mạng -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnglishQuiz">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Các Activity khác -->
        <activity android:name=".englishquiz_test"/>
        <activity android:name=".englishquiz"/>
        <activity android:name=".englishquiz_highscore"/>
        <activity android:name=".englishquiz_result"/>
        <activity android:name=".homepage"/>
        <activity android:name=".register"/>
        <activity android:name=".playername"/>
        <activity android:name=".huongdanquiz"/>
        <activity android:name=".TheoryActivity"/>
        <activity android:name=".ChatActivity"/>

        <!-- Firebase Analytics -->
        <meta-data
            android:name="com.google.firebase.analytics.APPLICATION_ID"
            android:value="@string/google_app_id" />
    </application>
</manifest>
